*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
section{
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    padding:20px;
    align-items: center;
}
section h2{
    font-size: 50px;
    font-weight: 500px;
    margin-bottom: 15px;
}
section p{
    font-weight: 400px;
    margin-bottom: 20px;
}
section a{
    display: inline-block;
    padding: 7px;
    color: #283773;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: solid white;
    border-radius: 50px;
    background:white;
   

}
.sgt{
    position: relative;
    top: 90px;
    right: 93px;
}
.ant{
    position: relative;
    bottom: 90px;
}
button{
    margin: 15px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
}
section img{
    height: 60%;
}
section:nth-child(1){
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
section:nth-child(2){
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
section:nth-child(3){
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
@media screen and (max-width:1000px){
    section{
        flex-direction: column-reverse;
     

    }
    section > img{
        height: 40%;
    }
    .contenedor-texto{
        text-align: center;
    }
    
}
@media screen and (max-width:600px){
    section > img{
        height: 25%;
    }
}